.ms_container_header{
    background-color: #efefef;
    margin-top: 50px;
}

.ms_colums_user{
    border-right: 2px solid grey;
}

/* immagine */
img{
    background-color: white;
    border-radius: 100%;
}

/* cerca contatti */
.ms_input_search_chat, .ms_input_microphone{
    border: none;
    width: 100%;
}

.ms_input_search_chat{
    /* background-color: #f9f9f9; */
}

/* contatti */
.ms_contact{
    background-color: white;
    cursor: pointer;
    border-bottom: 1px solid #e8e8e8;
}

.ms_contact:hover{
    background-color: gray;
}

/* chat */
.ms_row_chat{
    height: 70vh;
}

.ms_col_open_chat{
    background-image: url(img/sfondo-whatsapp.jpg);
    background-position: center;
    background-size: auto;
}

.ms_col_new_message{
    background-color: #f2f2f2;
    padding-bottom: 10px;
    padding-top: 10px;
}

.ms_row_new_message{
    height: 50px;
}

/* messaggi scritti da altri */
.ms_message_scritti{
    background-color: #ffffff;
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
    margin-right: 5px
}

/* messaggi scritti da noi */
.ms_message_user{
    background-color: #dcf9c6;
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
    margin-left: 5px

}